<div class="filterWrapper">
  <div id="filters" class="container-fluid">
    <div class="left-btn"><i class="fa-solid fa-chevron-left"></i></div>
    <div class="filter-container ml-md-3">
      <div class="filter">
        <a href="/filter/trending">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/rooms">
          <div><i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/iconic-cities">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic Cities</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/mountains">
          <div><i class="fa-solid fa-mountain"></i></div>
          <p>Mountains</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/castles">
          <div><i class="fa-solid fa-fort-awesome"></i></div>
          <p>Castles</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/amazing-pools">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Amazing Pools</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/campground">
          <div><i class="fa-solid fa-campground"></i></div>
          <p>Campground</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/farms">
          <div><i class="fa-solid fa-cow"></i></div>
          <p>Farms</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/arctic">
          <div><i class="fa-solid fa-snowflake"></i></div>
          <p>Arctic</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/domes">
          <div><i class="fa-solid fa-igloo"></i></div>
          <p>Domes</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/boats">
          <div><i class="fa-solid fa-ship"></i></div>
          <p>Boats</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/trending">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/rooms">
          <div><i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/iconic-cities">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic Cities</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/mountains">
          <div><i class="fa-solid fa-mountain"></i></div>
          <p>Mountains</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/castles">
          <div><i class="fa-solid fa-fort-awesome"></i></div>
          <p>Castles</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/amazing-pools">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Amazing Pools</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/campground">
          <div><i class="fa-solid fa-campground"></i></div>
          <p>Campground</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/farms">
          <div><i class="fa-solid fa-cow"></i></div>
          <p>Farms</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/arctic">
          <div><i class="fa-solid fa-snowflake"></i></div>
          <p>Arctic</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/domes">
          <div><i class="fa-solid fa-igloo"></i></div>
          <p>Domes</p>
        </a>
      </div>
      <div class="filter">
        <a href="/filter/boats">
          <div><i class="fa-solid fa-ship"></i></div>
          <p>Boats</p>
        </a>
      </div>
    </div>
    <div class="right-btn"><i class="fa-solid fa-chevron-right"></i></div>
  </div>
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label .fs-4" for="flexSwitchCheckDefault">
        Total&nbsp;after&nbsp;taxes
      </label>
    </div>
  </div>
</div>
<script>
  const container = document.querySelector(".filter-container");
const scrollAmount = 100; // Amount to scroll

document.querySelector(".left-btn").addEventListener("click", () => {
  container.scrollLeft -= scrollAmount; // Scroll left
  console.log("left click");
});

document.querySelector(".right-btn").addEventListener("click", () => {
  container.scrollLeft += scrollAmount; // Scroll right
  console.log("right click");
});

</script>