body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.wrapper {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.navbar-collapse {
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-social,
.f-info-brand {
    vertical-align: middle;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.search-btn {
    background-color: #fe424d !important;
    color: #fff !important;
    border-radius: 5px;
    opacity: 0.9;
}

.search-btn:hover {
    background-color: #fe424d;
    color: #fff;
    opacity: 1;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Cards Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img {
    height: 40vh;
    border-radius: inherit !important;
}

.show-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.comment {
    text-align: justify;
}

.round {
    background-color: rgba(255, 56, 93, 0.705);
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    transition-duration: 200ms;
}
